@media screen and (min-width: 1800px){
    .box-core__caption:after{
        border-left: 270px solid transparent !important;
        border-right: 270px solid transparent !important;
    }
}
@media screen and (min-width: 1600px){
    .into-page__description,
    .slider-wrapper__caption p,
    .team-wrapper__title .description,
    .overview-area h5{
        font-size: 30px;
        line-height: 35px;
    }
    .overview-area__list li{
        font-size: 25px;
    }
    .about-wrapper__caption .view-more, .courses-wrapper .view-more, .intro-page__view{
        font-size: 22px;
    }
    .box-core__caption:after{
        border-left: 235px solid transparent;
        border-right: 235px solid transparent;
    }
    .navigation > ul > li > a{
        font-size: 25px;
    }
    .intro-box{
        height: 800px;
    }
}
@media screen and (max-width: 1440px){
    .intro-page__video a.thumb-video{
        width: 90%;
        margin-left: auto;
    }
    .box-core__caption:after{
        border-left: 192px solid transparent;
        border-right: 192px solid transparent;
    }
}
@media screen and (max-width: 1200px){
    .navigation > ul > li > a{
        font-size: 16px;
    }
    .slider-wrapper__caption h2{
        font-size: 40px;
    }
    .block-content h3{
        font-size: 40px;
    }
    .box-core__icon img{
        width: 120px;
        height: 120px;
    }
    .box-core__caption:after{
        border-left: 152px solid transparent;
        border-right: 152px solid transparent;
    }
    .team-info h4{
        font-size: 25px;
    }
    .team-info > p,
    .team-info .preview,
    .box-why__caption .preview{
        font-size: 16px;
    }
    .intro-page h1{
        font-size: 48px;
    }
}
@media screen and (max-width: 1150px){
    .box-core__caption:after{
        border-left: 135px solid transparent;
        border-right: 135px solid transparent;
    }
}
@media screen and (min-width: 992px) and (max-width: 1024px){
    .box-core__caption:after {
        border-left: 120px solid transparent;
        border-right: 120px solid transparent;
    }
}
@media screen and (min-width: 992px){
    .container{
        max-width: calc(100% - 180px);
    }
    .main-slider .item,
    .intro-box{
        height: calc(100vh - 186px);
    }
    .main-slider .item > img{
        display: none
    }
}
@media screen and (max-width: 991px){
    .overview-area__list{
        margin: 0 -4px;
    }
    .overview-area__list li{
        padding: 0 4px
    }
    .block-content h3{
        font-size: 30px;
    }
    .about-wrapper__caption .content{
        font-size: 14px;
    }
    .about-wrapper__caption .view-more, .courses-wrapper .view-more{
        font-size: 14px;
    }
    .blog-box__caption{
        top: 0
    }
    .blog-box__caption .view-more{
        font-size: 14px;
    }
    .slider-wrapper__caption{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-self: center
    }
    .box-chart__statics .title{
        font-size: 22px;
    }
    .box-chart__statics .title span + span{
        font-size: 14px;
    }
    .testominal-content img{
        height: 25px;
    }
    #hamburger{
        display: block;
        background-color: var(--main-color);
    }
    #main-content{
        margin-top: 44px;
    }
    .intro-box{
        min-height: 400px;
    }
    .box-core__icon img{
        width: 90px;
        height: 90px;
    }
    .box-core__icon{
        top: -65px
    }
    .box-core__caption{
        padding: 65px 10px 40px 10px;
    }
    .box-core__caption .content{
        font-size: 14px;
    }
    .box-core__caption:after {
        border-left: 103px solid transparent;
        border-right: 103px solid transparent;
    }
}

@media screen and (max-width: 767px){
    #wrapper{
        overflow-x: hidden;
    }
    .contact-wrapper:after{
        display: none
    }
    .slider-wrapper__caption h2 {
        font-size: 25px;
        line-height: 27px;
    }
    .slider-wrapper__caption p {
        font-size: 15px;
        margin: 50px 0;
    }
    .slider-wrapper__caption a {
        padding: 5px 8px;
        font-size: 14px;
    }
    .testominal-content{
        padding-left: 0;
    }
    .overview-area__list li{
        margin-bottom: 20px;
        display: flex;
        font-size: 20px;
        align-items: center;
    }
    .overview-area__list li img{
        height: 35px;
        padding-right: 7px;
    }
    .overview-area h5{
        margin-bottom: 40px;
    }
    .main-slider .item,
    .slider-wrapper,
    .intro-box,
    .intro-page{
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
    }
    .main-slider .item > img{
        height: 568px;
        object-fit: cover;
    }
    .block-content h3 {
        font-size: 35px;
    }
    .box-chart__progress,
    .box-chart__statics{
        width: 50%;
    }
    .box-chart__statics .title span{
        width: 40%;
    }
    .box-chart__statics .title span + span{
        width: 60%;
        line-height: 22px;
    }
    .intro-box{
        padding: 30px 0;
    }
    .intro-page__video a.thumb-video{
        width: 100%;
    }
    .intro-page__view{
        display: block;
        text-align: center;
    }
    .box-core__caption{
        margin-bottom: 40px;
    }
    .box-core__caption:after {
        border-left: 156px solid transparent;
        border-right: 156px solid transparent;
    }
    .main-overview .owl-dots .owl-dot span,
    .main-team .owl-dots .owl-dot span{
        background-color: var(--main-color) !important;
        opacity: 0.8 !important;
    }
    .main-overview  .owl-dots .owl-dot.active span, .main-overview  .owl-dots .owl-dot:hover span,
    .main-team  .owl-dots .owl-dot.active span, .main-team  .owl-dots .owl-dot:hover span{
        opacity: 1 !important;
    }
    .main-team{
        padding-top: 40px;
    }
    .main-team .owl-nav.disabled+.owl-dots{
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
    footer{
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
    }
    .footer-main{
        text-align: center;
    }
}
@media screen and (max-width: 375px){
    .box-core__caption:after {
        border-left: 142px solid transparent;
        border-right: 142px solid transparent;
    }
}
@media screen and (max-width: 360px){
    .box-core__caption:after {
        border-left: 135px solid transparent;
        border-right: 135px solid transparent;
    }
}
